
.navbar {
    border-radius: 0;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-inverse {
    margin-bottom: 0;
    background-color: #2c3e50;
    opacity:0.9;
}

.navbar-inverse .navbar-brand {
    /*color: #F4A907;*/
    color:#ffd300;
}

nav .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav .container-fluid {
    margin-right: 50px;
    margin-left: 50px;
    padding:10px 0;
}

.navbar-header a {
    font-size: 24px;
}

.container-fluid a {
    font-size: 18px;
    font-weight: 900;
    font-family: Montserrat;
}

.navbar-inverse .navbar-nav > li > a {
    /*color: #F4A907;*/
    color:#ffd300;
}
.logo
{
    height:40px;
    width:200px;
    padding-bottom:8px;
}
.image {
    background-image: url('https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-0.3.5&s=5a327349f9bedbe617da123dba7fdb9f&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

}

@media (min-width:340px)and(max-width:767px){
    .image {
        width:auto;
    }
}
@media (min-width:340px)and(max-width:767px){
    .wrapper{
        width:auto;
    }  
}
.wrapper {

    padding: 280px 10px;
    display: flex;
    justify-content: center;
}


h2 {
    font-size: 55px;
}

h4 {
    text-align: center;
    font-weight: bold;
}

.box p {
    max-width: 250px;
}

.steps {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin: auto;

}

.voyages {
    width: 100%;
    height: 400px;
    background-color: #efefef;
    margin: 0 auto;
}

.voyages .row {
    display: flex;
    justify-content: space-between;

}

.voyages img {
    width: 350px;
    height: 230px;

}

.group1,
.group2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding: 20px;
    margin-top: 25px;
}

.voyage-groups {
    display: flex;
    margin: 0 auto;

}

.description {

    display: flex;
    flex-direction: column;

}

.description p {
    text-align: center;
    max-width: 300px;
}
.description img
{
    
}

.voyages img {

    box-shadow: border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 6px;

}

.contact {
    width: 100%;
    height: 300px;
}
.row
{
  margin-top:50px; 
}
h3    
  { 
    text-align:center;
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid #ffd300;
    padding-top:50px;
    padding-bottom: 20px;
  }
.btn
{
    width:50px;
    height:35px;
    background-color:#ffd300; 
    border-color: #ffd300;
}
span
{
  text-align: center;
  font-size:16px;
}
p
{
    text-align: center;
    margin:0 auto;
    max-width:800px;
}

.footer {
    
    width: 100%;
    height: 200px;
    padding: 25px;
    background: #777;
}

.footer h1 {
    text-align: center;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.footer h1 span {
    color: #ffd300;
    font-weight: 900;
    border-radius: 50%;
}

#toTop {
    position: fixed;
    width: 50px;
    height: 38px;
    text-align: center;
    -webkit-border-radius: 4px;
    color: #fff;
    background-color:#ffd300;
    z-index: 99;
    right: 20px;
    bottom: 20px;
}





